$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color_light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-m: #B2B2B2;
$color-dark-s:#CDCDCD;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$content-width: 1200px;
$content-width-laptop: 1279px;
$content-tablet: 767px;
$mobile-big-with: 414px;
$mobile-small-with: 320px;