.about__wrapper {
    padding: 80px 0 100px 0;
    @include media-tablet {
        padding-top: 42px;
    }
    @include media-tablet {
        padding-bottom: 40px;
    }
}

.about__content {
    max-width: 430px;
    margin: 14px 0;
    @include media-laptop {
        width: 430px;
        margin: 0 0 80px;
    }
    @include media-tablet {
        max-width: 300px;
        margin: 0 0 22px;
    }
}

.about__block {
    display: flex;
    justify-content: space-between;
    margin: 0 175px;
    @include media-laptop {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    @include media-tablet {
        margin: 0;
    }
}

.about__title {
    color: $color-dark-l;
    letter-spacing: 0.21rem;
    margin: 0 60px 23px 0;
    padding: 0 50px 0 0;
    @include media-tablet {
        @include font($size: 2.5rem, $height: 3.3rem);
        max-width: 80%;
        margin: auto;
        padding: 0;
        margin-bottom: 24px;
        letter-spacing: 0.06em;
        padding: 0;
        text-align: center;
    }
}

.about__subheading {
    @include font($size: 1.5rem, $height: 2.4rem);
    margin: 24px 0 0;
    color: $color-dark-xl;
    @include media-tablet {
        max-width: 270px;
        text-align: justify;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.about__image {
    @include media-laptop {
        order: 2;
    }
    @include media-tablet {
        width: 260px;
        height: 354px;
    }
}