.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__list {
    padding: 0;
}

.navigation__item {
    list-style: none;
    padding-bottom: 5px;
    &:not(:last-child) {
        margin-right: 36px;
    }
}

.navigation__link {
    text-decoration: none;
    padding: 0 0 4px 0;
    @include font ($size: 1.5rem, $height: 2.4rem);
    color: $color-dark-s;
    transition: 0.4s;
    &_current {
        border-bottom: 3px solid $color-primary;
        color: $color-light-s;
    }
    &:hover {
        color: $color-light-s;
    }
}

.navigation {
    @include media-tablet {
        display: none;
    }
}