.pets {
    // awsdas
    /* color-light-l */
    background: $color-light-l;
}

.pets__title {
    @include font($size: 3.5rem, $height: 4.55rem);
    font-family: 'Georgia';
    letter-spacing: 0.21rem;
    /* color-dark-l */
    color: $color-dark-l;
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 58px;
}

.pets__wrapper {
    padding: 80px 0 100px 0;
}

.pets__button {
    width: 100%;
    text-align: center;
}