.button {
    font-family: 'Georgia';
    @include font ($size: 1.7rem, $height: 2.2rem);
    display: inline-block;
    color: $color-dark-3xl;
    letter-spacing: 0.1rem;
    padding: 13px 43px;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
    &_primary {
        background: $color-primary;
        border: 2px solid $color-primary;
    }
    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

.button_arrow {
    cursor: pointer;
    align-items: center;
    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 100%;
    padding: 21px 17px;
}

.arrow-image {
    width: 100%;
    display: block;
    &_right {
        transform: rotate(180deg);
    }
}

.button_bordered {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: $color-light-xl;
}