%hamburger-line {
    content: '';
    display: inline-block;
    position: absolute;
    height: 2px;
    background-color: $color-primary;
    width: 100%;
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    @include media-tablet {
        display: inline-block;
    }
    &::before {
        @extend %hamburger-line;
        top: 0;
        right: calc(100% + 13px);
    }
    &::after {
        @extend %hamburger-line;
        bottom: 0;
        right: calc(100% + 13px);
    }
}

.hamburger__line {
    @extend %hamburger-line;
    top: calc(50% - 1px);
    right: calc(100% + 13px);
    ;
}