.ico {
    background: url(../../assets/icons/credit-card.svg);
    width: 30px;
    height: 23px;
    display: inline-block;
    background-repeat: no-repeat;
}

.location__ico {
    margin-right: 20px;
}