.footer__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 0 0 0;
    @include media-laptop {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 60px;
        padding-top: 32px;
    }
}

.footer {
    background: url(../../assets/images/noise-lines.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.contacts__content {
    display: flex;
    flex-direction: column;
}

.contacts {
    max-width: 278px;
}

.locations__content {
    display: flex;
    flex-direction: column;
}

.locations {
    max-width: 302px;
}

.contacts-link {
    display: flex;
    align-items: center;
    font-family: 'Georgia';
    @include font ($size: 2.0rem, $height: 2.3rem);
    color: $color-primary;
    letter-spacing: 0.12rem;
    cursor: pointer;
    text-decoration: none;
}

.contacts-link__address {
    display: inline-block;
}

.locations__title {
    color: $color-light-xl;
    margin: 0;
    padding: 17px 0 0 0;
    letter-spacing: 0.2rem;
    max-width: 280px;
}

.locations__title {
    margin-bottom: 31px;
    @include media-laptop {
        padding: 0;
    }
}

.contacts__contacts-link {
    margin-bottom: 44px;
}

.locations__contacts-link {
    margin-bottom: 34px;
}

.contacts__title {
    color: $color-light-xl;
    padding: 18px 0 0 0;
    margin: 0 0px 40px 0;
    letter-spacing: 0.2rem;
    max-width: 280px;
    @include media-laptop {
        padding: 0;
    }
}