.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    @include media-laptop {
        padding: 30px;
    }
    @include media-tablet {
        padding: 30px 10px;
    }
}